{:license {:name "GNU General Public License v3.0"
            :url "https://www.gnu.org/licenses/gpl-3.0.txt"}
 :deps {;; Registers Clojure classes for build-time init in native-image.
        com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}
        denote-mono/cli {:local/root "../../bases/cli"}
        denote-mono/config {:local/root "../../components/config"}
        denote-mono/editor {:local/root "../../components/editor"}
        denote-mono/file-type {:local/root "../../components/file_type"}
        denote-mono/filename {:local/root "../../components/filename"}
        denote-mono/filesystem {:local/root "../../components/filesystem"}
        denote-mono/front-matter {:local/root "../../components/front_matter"}
        denote-mono/llm {:local/root "../../components/llm"}
        denote-mono/llm-wiki {:local/root "../../components/llm_wiki"}
        denote-mono/note {:local/root "../../components/note"}
        denote-mono/process {:local/root "../../components/process"}
        denote-mono/rename {:local/root "../../components/rename"}
        denote-mono/search {:local/root "../../components/search"}
        denote-mono/sequence {:local/root "../../components/sequence"}
        denote-mono/silo {:local/root "../../components/silo"}
        denote-mono/slug {:local/root "../../components/slug"}
        org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases {:uberjar {:main denote-mono.cli.core
                     :major-version 0
                     :minor-version 4}}}
