{:deps {denote-mono/cli {:local/root "../../bases/cli"}
        org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases {:uberjar {:main denote-mono.cli.core
                     :major-version 0
                     :minor-version 1}}}
