;;; How to start a development REPL: `clojure -M:dev:test`
{:deps {org.clojure/clojure {:mvn/version "1.12.0"}}
 :aliases
 {:dev
  {:extra-deps
   {;; Components
    denote-mono/config {:local/root "components/config"}
    denote-mono/editor {:local/root "components/editor"}
    denote-mono/file-type {:local/root "components/file_type"}
    denote-mono/filename {:local/root "components/filename"}
    denote-mono/filesystem {:local/root "components/filesystem"}
    denote-mono/front-matter {:local/root "components/front_matter"}
    denote-mono/process {:local/root "components/process"}
    denote-mono/search {:local/root "components/search"}
    denote-mono/silo {:local/root "components/silo"}
    denote-mono/slug {:local/root "components/slug"}

    ;; Bases
    denote-mono/cli {:local/root "bases/cli"}}
   :extra-paths ["development/src"]}

  :test
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                org.clojure/test.check {:mvn/version "1.1.1"}}
   :extra-paths ["components/config/test"
                 "components/editor/test"
                 "components/file_type/test"
                 "components/filename/test"
                 "components/filesystem/test"
                 "components/front_matter/test"
                 "components/process/test"
                 "components/search/test"
                 "components/silo/test"
                 "components/slug/test"
                 "bases/cli/test"
                 "projects/denote-cli/test"]
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "components/config/test"
               "-d" "components/editor/test"
               "-d" "components/file_type/test"
               "-d" "components/filename/test"
               "-d" "components/filesystem/test"
               "-d" "components/front_matter/test"
               "-d" "components/process/test"
               "-d" "components/search/test"
               "-d" "components/silo/test"
               "-d" "components/slug/test"
               "-d" "bases/cli/test"
               "-d" "projects/denote-cli/test"]}

  ;; Example command: clojure -M:poly info
  :poly
  {:extra-deps {polyfy/polylith
                {:deps/root "projects/poly"
                 :git/sha "6a8a2cb9be68044305c4d29b8d284456502d5c1e"
                 :git/url "https://github.com/polyfy/polylith"}}
   :main-opts ["-m" "polylith.clj.core.poly-cli.core"]}

  ;; Build with: clojure -T:build uberjar :project denote-cli
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
          io.github.seancorfield/build-clj {:git/tag "v0.9.2"
                                            :git/sha "9c9f078"}}
   :ns-default build}}}
