{:paths ["src"]
 :license {:name "GNU General Public License v3.0"
           :url "https://www.gnu.org/licenses/gpl-3.0.txt"}
 :deps {denote-mono/config {:local/root "../config"}
        denote-mono/file-type {:local/root "../file_type"}
        denote-mono/filename {:local/root "../filename"}
        denote-mono/filesystem {:local/root "../filesystem"}
        denote-mono/front-matter {:local/root "../front_matter"}
        denote-mono/llm {:local/root "../llm"}
        denote-mono/note {:local/root "../note"}
        denote-mono/process {:local/root "../process"}
        denote-mono/search {:local/root "../search"}
        denote-mono/sequence {:local/root "../sequence"}}}
