{:paths ["src"]
 :deps {denote-mono/file-type {:local/root "../file_type"}
        denote-mono/filename {:local/root "../filename"}
        denote-mono/filesystem {:local/root "../filesystem"}
        denote-mono/front-matter {:local/root "../front_matter"}}}
